<html>
    <head>
        <meta charset="utf-8"/>
        <title>QUESTION-ANSWERING</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
        </script>

        <script src="{{ url_for('static', filename='js/javascript.js') }}"></script>
    </head>
    <body>
        <nav class="nav-site">
            <a href="/samples">Sample Paragraphs</a>
            <a href="/tutorial">Tutorial</a>
            <a href="/adversary_ex">Adversarial attack examples</a>
        </nav>
        <h3>Paragraph-Question Pair No. 1</h3>

        <div class="container">
            <form id="formId" enctype="multipart/form-data">
                <label for="para">
                <p>
                <span style="color:black;">Paragraph</span>
                : "The Ottoman Empire was an imperial state that lasted from 1299 to 1923. During the 16th and 17th centuries, in particular at the height of its power under the reign of Suleiman the Magnificent, the Ottoman Empire was a powerful multinational, multilingual empire controlling much of Southeast Europe, Western Asia, the Caucasus, North Africa, and the Horn of Africa. At the beginning of the 17th century the empire contained 32 provinces and numerous vassal states. Some of these were later absorbed into the empire, while others were granted various types of autonomy during the course of centuries."
                </p>
                <p>
                <span style="color:black;">Q: Who reigned over the Ottoman empire when it was at its most powerful ?</span>
                A: Suleiman the Magnificent</p>
                </label>
                <textarea name="para" cols="70" rows="10"></textarea>
                <input type="submit" value="Predict" id="predict">
            </form>
            
            <div id="result">
                <p>Result here</p>
            </div><input type="button" value="Go to next" id="next"><br>
            <label for="button">1 of 10</label>
        </div>

        <input type="button" value="Go to next" id="next"><br>
        <label for="button">1 of 10</label>

    </body>
</html>
