<!doctype html>
<html>
    <body>
        <nav class="nav-site">
                <a href="/">Home</a>
                <a href="/samples">About</a>
        </nav>

        <h3>A few examples</h3>
        <p>

        Paragraph 1<br>
        <br>
        "The Ottoman Empire was an imperial state that lasted from 1299 to 1923. During the 16th and 17th centuries, in particular at the height of its power under the reign of Suleiman the Magnificent, the Ottoman Empire was a powerful multinational, multilingual empire controlling much of Southeast Europe, Western Asia, the Caucasus, North Africa, and the Horn of Africa. At the beginning of the 17th century the empire contained 32 provinces and numerous vassal states. Some of these were later absorbed into the empire, while others were granted various types of autonomy during the course of centuries."
        <br>
        <br>Q: When did the Ottoman Empire fall?<br>
        A: 1923<br>
        Q: Who reigned over the Ottoman empire when it was at its most powerful?<br>
        A: Suleiman the Magnificent<br>

        <br>Paragraph 2<br>
        <br>       
        "On April 23, 1968, the United Methodist Church was created when the Evangelical United Brethren Church (represented by Bishop Reuben H. Mueller) and The Methodist Church (represented by Bishop Lloyd Christ Wicke) joined hands at the constituting General Conference in Dallas, Texas. With the words, \"Lord of the Church, we are united in Thee, in Thy Church and now in The United Methodist Church\" the new denomination was given birth by the two churches that had distinguished histories and influential ministries in various parts of the world."
        <br>
        <br>Q: Who was one man who joined hands and said, Lord of the Church, we are united in Thee...?<br>
        A: Bishop Reuben H. Mueller<br>

        <br>Paragraph 3<br>
        <br>
        "The connection between macroscopic nonconservative forces and microscopic conservative forces is described by detailed treatment with statistical mechanics. In macroscopic closed systems, nonconservative forces act to change the internal energies of the system, and are often associated with the transfer of heat. According to the Second law of thermodynamics, nonconservative forces necessarily result in energy transformations within closed systems from ordered to more random conditions as entropy increases."
        <br>
        <br>Q: What makes energy changes in a closed system? <br>
        A: nonconservative forces <br>

        <br>Paragraph 4<br>
        <br>
        "Torque is the rotation equivalent of force in the same way that angle is the rotational equivalent for position, angular velocity for velocity, and angular momentum for momentum. As a consequence of Newton's First Law of Motion, there exists rotational inertia that ensures that all bodies maintain their angular momentum unless acted upon by an unbalanced torque. Likewise, Newton's Second Law of Motion can be used to derive an analogous equation for the instantaneous angular acceleration of the rigid body."
        <br>
        <br>Q: What would change the rotational inertia of a body under Newton's First Law of Motion?<br>
        A: an unbalanced torque

        </p>

    </body>
</html>