<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Question-Answering using BERT</title>
        
    </head>
    <body>
        <nav class="nav-site">
            <a href="/">Home</a>
            <a href="/tutorial">About</a>
        </nav>
        
        <p>1. BERT is a state-of-the-art language model released by Google in 2018.
        It can be used for a variety of natural language tasks. It is trained on billion words from the Wikipedia corpora.</p>
        <p>2. Here, we use BERT for the task of Question-Answering. Given a paragraph and a question, BERT answers the question based on the para.</p>
        <p>3. Your job is to provide a paragraph and a question (along with the actual answer) to the trained model. And then hit predict.</p>
        <p>4. Modify the paragraph only such that the correct answer is still in the paragraph.</p>
        <p>5. You can find some examples of adversaries which are successfully able to fool the model in the tab above.</p>
        <p>Enjoy!</p>    

    </body>
</html>